<!-- <app-button></app-button>

<app-claim-message [amount]="amount"
									 [prize]="prize"
									 [game]="game"></app-claim-message>

<app-success-message [amount]="amount"
										 [prize]="prize"></app-success-message> -->

<section class="claim-container">

	<div class="card-container">
		<app-claim-message [amount]="amount"
											 [prize]="prize"
											 [game]="game"></app-claim-message>
		<app-counter #counter></app-counter>
		<app-button [label]="btnLabel"
								routerLink="/success"></app-button>
	</div>
</section>