button {
  border: none;
  outline: none;
}

.btn {
  background-image: linear-gradient(-180deg, #ff78cf 0%, #ff18b0 99%);
  box-shadow: 0 2px 0 0 #b00e78;
  border-radius: 27.5px;
  width: 193px;
  height: 55px;
  font-family: Helvetica-Bold;
  font-size: 22px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 35px;
}
